@import "./functions";

@import "./variables";

@import "./style.scss";

nav {
  img {
    width: 125px;
  }
}

ul {
  li {
    a {
      img {
        width: 40px;
      }
    }
  }
}

@import "./bootstrap.scss";
